<div id="carousel-img-header" class="carousel slide carousel-fade w-100" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-img-header" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-img-header" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-img-header" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner carousel-header">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ asset('img/welcome/chevrolet-chevelle.jpg') }}" class="w-100 img-fluid img-carousel-header" alt="" >
            <div class="carousel-caption d-md-block" >
                <h1>Bienvenue chez Titus.</h1>
                <h3>Vente de véhicules de collection, sport et prestige.</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ asset('img/welcome/audi-r8.jpg') }}" class="w-100 img-fluid img-carousel-header" alt="">
            <div class="carousel-caption d-md-block" >
                <h1>Bienvenue chez Titus.</h1>
                <h3>Vente de véhicules de collection, sport et prestige.</h3>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ asset('img/welcome/ferrari-race.jpg') }}" class="w-100 img-fluid img-carousel-header" alt="">
            <div class="carousel-caption d-md-block" >
                <h1>Bienvenue chez Titus.</h1>
                <h3>Vente de véhicules de collection, sport et prestige.</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-img-header" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-img-header" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>